//COLOR

$color-white: #fff;
$color-black: #000;

$color-grey-light: #ededed;
$color-grey-1: #989898;
$color-grey-2: #999;
$color-grey-3: #3E3E3E;

$color-green-1: #B4DDBF;
$color-green-2: #A2C6AB;
$color-blue-1: #A8D0E6;
$color-blue-2: #3f75a2;
$color-red-1: #E76C6C;


//GRID

$grid-width: 80%;
$gutter-vertical: 10rem;
$gutter-vertical-small: 1rem;
$gutter-horizontal: 6rem;