body{
    font-family: "Lato", sans-serif;
    line-height: 1.7;
    font-weight: 400;
    font-size: 1.6rem;
}

.header{
    &__secondary{
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 5rem;

        @include respond(tab-land){
            padding-bottom: 3rem;
        }

        @include respond(tab-port){
            padding-bottom: 0.5rem;
        }

    }
}

.paragraph{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
