.section-header{
    padding: 15vh 0 10vh 0;
    background-color:$color-green-1;
    height: 50vh;
    border-bottom: 2px solid black;

    @include respond(tab-port-2){
        padding: 5vh 0 10vh 0;
    }

    @include respond(phone-2){
        padding: 10vh 0;
    }

    
}

.section-soft-skills{
   & .row{
       max-width: 60%;
       border: 2px solid $color-green-1; 
       text-align: center;
       margin-top: -10rem;
       background-color: $color-white;
       border-radius: 0.8rem;
       padding: 3rem 2rem;

       @include respond(phone){
           padding: 2rem 1rem;
       }
    }

    &__icon{
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    & .col-1-of-3{
       
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.section-about-me{
    padding: 10rem 0;
    
    & .row{
        border-top: 2px solid $color-grey-2;
        text-align: center;
        padding: 5rem;
    }
}

.section-project-1{
    border-radius: 30px 30px 0 0;
    padding: 10rem 0 15rem 0;
    background-color: $color-blue-1; 
    border-top: 2px solid $color-black;
    
}

.section-project-2{
    border-radius: 30px 30px 0 0;
    padding: 10rem 0 15rem 0;
    background-color: $color-red-1;
    margin-top: -5rem;
    z-index: 2;
    position: relative;
    border-top: 2px solid $color-black;
}

.section-project-3{
    border-radius: 30px 30px 0 0;
    padding: 10rem 0 15rem 0;
    background-color:$color-blue-2;
    margin-top: -5rem;
    z-index: 3;
    position: relative;
    border-top: 2px solid $color-black;

}

.section-project-4{
    border-radius: 30px 30px 0 0;
    padding: 10rem 0;
    background-color:$color-green-2;
    margin-top: -5rem;
    z-index: 3;
    position: relative;
    border-top: 2px solid $color-black;   
}